<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg">
            <a href="{{ site.baseurl }}/en/">English</a>
          </li>
          {% for link in site.data.navigation.main %}
            {% assign first_char = link.url | slice: 0, 1 %}
            {% if first_char == "#" %}
              <li class="masthead__menu-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% else %}
              {%- assign full = site.url | append: site.baseurl -%}
              <li class="masthead__menu-item"><a href="{{ full }}{{ link.url }}">{{ link.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
